body{
    max-width: max-content;
    margin: auto;   
}
.container1{
    font-family: Helvetica;
    
}
.table, td, th {
    border: 1px solid grey;
    border-collapse: collapse;
    font-size: 20px;
    line-height: 30px;
    padding: 15px;
}
.table th{
    background-color: #ebd278;
}
.table td{
    font-size: 18px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover {
    background-color: #ddd;
}
