<!DOCTYPE html>
<html lang="en">
<head>
  <title>HttpClient Rest API</title>
</head>
<body>
  <div class="container">
    <h3>HttpClient - REST API call | Displaying Data in HTML | Using Angular 9</h3>
    
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Avatar</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }} {{user.last_name}}</td>
          <td>{{ user.avatar }}</td>
          <td><a [routerLink]="['/viewdetail/'+user.id]">View +</a></td>
        </tr>
      </tbody>
    </table>
  </div>
<router-outlet></router-outlet>
</body>
</html>
